@charset "UTF-8";

body {
  margin: 0;
  font-size: 14.4px;
  font-family: Verdana, sans-serif;
  color: #333;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 100px 0;
  padding: 0 4%;
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}

.site-title a {
  display: block;
}

img {
  max-width: 100%;
}

.wrapper ul {
  display: flex;
  padding: 10px 0;
  list-style: none
}

.wrapper li {
  padding-right: 30px;
}

.wrapper li a {
  color: #24292e;
  text-decoration: none;
}

.wrapper li a:hover {
  opacity: 0.7;
}

#mainvisual {
  margin-bottom: 80px;
}

#mainvisual img{
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
}

.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

.text {
  text-align: left;
}

.content-title {
  font-size: 1rem;
  margin: 10px 0;
}

#Bicycle ul {
  display: flex;
  justify-content: space-between;
}

#Bicycle li {
  width: 32%;
}

#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #mainvisual img {
    height: calc(100vh - 60px);
  }

  #about .content {
    flex-direction: column;
  }

  #about img {
    margin-right: 0;
  }

  #Bicycle ul {
    flex-direction: column;
  }

  #Bicycle li {
    width: 100%;
    margin-bottom: 30px;
  }
}
